<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<tr th:each="anggotaModel:${anggotaModelList}"> <!-- menerima data dari back end -->
		<td><a th:text="${anggotaModel.idAnggota}"></a></td><!-- memanggil data dari back end berupa kodefakultas-->
		<td><a th:text="${anggotaModel.kodeAnggota}"></a></td><!-- memanggil data dari back end berupa namafakultas -->
		<td><a th:text="${anggotaModel.namaAnggota}"></a></td><!-- memanggil data dari back end berupa kodefakultas-->
		<td><a th:text="${anggotaModel.usiaAnggota}"></a></td><!-- memanggil data dari back end berupa kodefakultas-->
		<td><button id="btn-lihat" type="button"
				class="btn btn-success btn-sm"
				th:value="${anggotaModel.kodeAnggota}">Lihat</button></td>
		<td><button id="btn-ubah" type="button"
				class="btn btn-warning btn-sm"
				th:value="${anggotaModel.kodeAnggota}">Ubah</button></td>
		<td><button id="btn-hapus" type="button"
				class="btn btn-danger btn-sm"
				th:value="${anggotaModel.kodeAnggota}">Hapus</button></td>
	</tr>
</body>

</html>